<head>
    <title>Accueil</title>
    <link rel="shortcut icon" href="../img/Logo_SAM.ico" />
    <link rel="stylesheet" href="../css/home.css"/>
</head>
<div class="accueil_page">
    <div class="banniere">
        <div class="banniere_top">
            <img src="../img/Logo_SAM.png" class="logo">
            <h1 class="titre">SELVEL AR MOR</h1>
        </div>
        <div class="menu">
            <a class="lien_menu" href="lien_page_presentation">Présentation</a>
            <a class="lien_menu" href="lien_page_projets">Projets</a>
            <a class="lien_menu" href="lien_page_soutenez-nous">Soutenez-nous</a>
            <a class="lien_menu" href="lien_page_contacte">Contact</a>
            <a class="lien_menu" href="lien_page_Actualités">Actualités</a>
        </div>
    </div>
    <div class="photo">
        <img src="../img/pro.jpg" class="home_img">
        <img src="../img/pollution.jpg" class="home_img">
        <img src="../img/mer.jpeg" class="home_img">
    </div>
    <div class="text">
        <p>PRESENTATION DETAILLEE BLABLABLABLA</p>
    </div>
</div>