<head>
    <title>Accueil</title>
    <link rel="shortcut icon" href="../img/Logo_SAM.ico" />
    <link rel="stylesheet" href="../css/home.css"/>
</head>
<div class="accueil_page">
    <div class="banniere">
        <img src="../img/Logo_SAM.png" class="logo">
        <h1 class="titre">SELVEL AR MOR</h1>
        <div class="menu">
            <ul>
                <li><a class="lien_menu" href="asso.html">Présentation</a>
                    <ul>
                        <li><a class="lien_menu" href="asso.html">L'association</a></li>
                        <li><a class="lien_menu" href="team.html">Qui sommes-nous ?</a></li>
                    </ul>
                </li>
                <li><a class="lien_menu" href="projets.html">Projets</a></li>
                <li><a class="lien_menu" href="soutenez-nous.html">Soutenez-nous</a>
                    <ul>
                        <li><a class="lien_menu" href="soutenez-nous.html">Pourquoi nous soutenir?</a></li>
                        <li><a class="lien_menu" href="nous_rejoindre.html">Nous rejoindre</a></li>
                    </ul>
                </li>
                <li><a class="lien_menu" href="contact.html">Contact</a></li>
                <li><a class="lien_menu" href="actualite.html">Actualités</a></li>
            </ul>    
        </div>
    </div>
    <div class="photo">
        <img src="../img/pro.jpg" class="home_img">
        <img src="../img/pollution.jpg" class="home_img">
        <img src="../img/mer.jpeg" class="home_img">
    </div>
    <div class="text">
        <p>PRESENTATION DETAILLEE BLABLABLABLA</p>
    </div>
</div>